.TodoFilter {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 12px;
}

.TodoFilter__input {
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.TodoFilter__input:hover, .TodoFilter__input:focus {
    border: 2px solid blue;
}