.TodoList {
    padding: 20px;

}

.TodoList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 12px;
}

.TodoList__text {
    margin-top: 0;
    margin-bottom: 0;
}

.TodoList__button {
    padding: 4px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    background-color: blue;
    cursor: pointer;
}